<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">postgres</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5433/postgres</property>
		
		<property name="connection_pool_size">1</property>

		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<!-- DB schema will be updated if needed -->
		<!--property name="hibernate.hbm2ddl.auto">update</property-->

		<mapping class="com.nchudinov.entity.User"/>
		<mapping class="com.nchudinov.entity.Programmer"/>
		<mapping class="com.nchudinov.entity.Manager"/>
		<mapping class="com.nchudinov.entity.Company"/>
		<mapping class="com.nchudinov.entity.Profile"/>
		<mapping class="com.nchudinov.entity.Chat"/>
		<mapping class="com.nchudinov.entity.UsersChat"/>

	</session-factory>
</hibernate-configuration>