<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">postgres</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5433/postgres</property>
		
		<property name="connection_pool_size">1</property>

		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<!-- DB schema will be updated if needed -->
		<property name="hibernate.hbm2ddl.auto">validate</property>
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.jcache.internal.JCacheRegionFactory</property>
		<property name="hibernate.javax.cache.uri">ehcache-config.xml</property>
		<!-- Enable using query cache -->
		<property name="hibernate.cache.use_query_cache">true</property>
		<!-- Make our app a little bit slow. Use only in env. Enable geting statistics by region/second level cache -->
		<property name="hibernate.generate_statistics">true</property>

		<!-- Transaction isolation level, available values: 1,2(default - read-commited),4,8-->
		<!--property name="hibernate.connection.isolation">1</property-->

		<mapping class="com.nchudinov.entity.User"/>
		<mapping class="com.nchudinov.entity.Company"/>
		<mapping class="com.nchudinov.entity.Profile"/>
		<mapping class="com.nchudinov.entity.Chat"/>
		<mapping class="com.nchudinov.entity.UserChat"/>
		<mapping class="com.nchudinov.entity.Payment"/>

	</session-factory>
</hibernate-configuration>