<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<!-- DB schema will be updated if needed -->
		<property name="hibernate.hbm2ddl.auto">create</property>

		<mapping class="com.nchudinov.entity.User"/>
		<mapping class="com.nchudinov.entity.Company"/>
		<mapping class="com.nchudinov.entity.Profile"/>
		<mapping class="com.nchudinov.entity.Chat"/>
		<mapping class="com.nchudinov.entity.UserChat"/>
		<mapping class="com.nchudinov.entity.Payment"/>

	</session-factory>
</hibernate-configuration>